.portalContainer {
  margin: 50px 50px 0;

  .header{
    display: flex;
    justify-content: space-between;
    .title{
      color: #4d4d4d;
      font-size: 2rem;
      font-weight: 300;
      line-height: 1.5;
      text-decoration: underline;
      text-decoration-color: #0BB7A5;
    }
  }
  .empty{
    display: flex;
    justify-content: center;
    margin: 50px;
    color: #4d4d4d;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
  }
}