.containerLogin {
    width: 400px;
    min-height: 370px;
    margin: 50px auto;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background: #0BB7A5;
    .title {
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        color: #0BB7A5;
    }
    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: #4d4d4d;
    }
    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        color: #4d4d4d;
        .link{
            cursor: pointer;
            text-decoration: underline;
            text-decoration-color: #0BB7A5;
            color: #4d4d4d;
        }
    }
}
