.containerLogin {
    width: 400px;
    min-height: 370px;
    margin: 50px auto;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background: #E8E9EB;
}
.title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}